<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
  </div>

  

  <div class="anuncio" *ngFor="let diver of diversao">
    <div>
      <img [src]="diver.imagens[0].url" />
    </div>

    <div class="anuncioRes">
      <div>
        <h4>{{diver.titulo}}</h4>
      </div>

      <div>
        <h5>{{diver.descricao_oferta}}</h5>
      </div>

      <div>
        <p>Anunciado por: <b>{{diver.anunciante}}</b></p>
      </div>

      <div>
        <p  class="preco">{{diver.valor | currency : 'BRL'}}</p>
      </div>

      <div>
        <button [routerLink]="['/oferta', diver.id]">Ver oferta</button>
      </div>
    </div>

  </div>
</div>