<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas para você se divertir quando quiser:</h5>
  </div>

  <hr />

  <div class="anuncio">
    <div>
      <img src="/assets/ofertas/4/img1.jpg" />
    </div>

    <div class="anuncioRes">
      <div>
        <h4>Estância das águas</h4>
      </div>

      <div>
        <h5>Diversão garantida com piscinas, trilhas e muito mais.</h5>
      </div>

      <div>
        <p>Anunciado por: <b>Estância das águas</b></p>
      </div>

      <div>
        <p  class="preco">R$ 31,90</p>
      </div>

      <div>
        <button>Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="anuncio">
    <div>
      <img src="/assets/ofertas/5/img1.jpg" />
    </div>

    <div class="anuncioRes">
      <div>
        <h4>Kart</h4>
      </div>

      <div>
        <h5>Bateria de Kart de 30 minutos.</h5>
      </div>

      <div>
        <p>Anunciado por: <b>Speed Kart</b></p>
      </div>

      <div>
        <p  class="preco">R$ 54,90</p>
      </div>

      <div>
        <button>Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="anuncio">
    <div>
      <img src="/assets/ofertas/6/img1.jpg" />
    </div>

    <div class="anuncioRes">
      <div>
        <h4>Academia de tiro</h4>
      </div>

      <div>
        <h5>Sessão de tiro dinâmico com Instrutor, Estande, Alvo e Equipamentos.</h5>
      </div>

      <div>
        <p>Anunciado por: <b>Academia de Tiro</b></p>
      </div>

      <div>
        <p  class="preco">R$ 89,90</p>
      </div>

      <div>
        <button>Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

</div>