<div class="container">
  <div class="ofertas">
    <h1>DESTAQUES DO DIA</h1>
    <h3>APROVEITE AS SUPER OFERTAS QUE PREPARAMOS PARA VOCÊ</h3>
  </div>
  <hr>
  <div class="cards">
    <mat-card class="card" *ngFor="let oferta of ofertas">
      <img [src]="oferta.imagens[0].url" class="imgCard" alt="">
      <h1>{{oferta.titulo}}</h1>
      <h3>{{oferta.descricao_oferta}}</h3>
      <h2>{{oferta.valor | currency : 'BRL'}}</h2>
      <a href="#"><button>Ver Oferta</button></a>

    </mat-card> <!-- primeiro for  -->
  </div>