.toolbar{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(224, 224, 224);
    height: 100px;
    
}
.header2 {
    display: flex;
    background: rgb(0,50,159);
    background: linear-gradient(90deg, rgba(0,50,159,1) 0%, rgba(84,151,221,0.8603816526610644) 100%);
    height: 50px;
}
ul{
    list-style: none;
    display: flex;   
}

.header2 a {
    padding-right: 20px;
    color: #C1E4FF;
    text-decoration: none;
}

.header2 a:hover{
    color: #FFF
}

.container{
    display: flex
}

.containerInput{
    height: 43px;
    margin-top: 11px;
    padding-top: 7px;
    width: 400px;
    margin-left: 750px;
}

input{
    border: none;
    height: 30px;
    width: 100%;
    font-size: 1em;
    background-color: #C1E4FF;
    padding-left: 10px;
    
}


.containerInput ul{
    display: flex;
    flex-direction: column;
    background-color: #C1E4FF;
    margin-top: 2px;
    width: 370px;
    color: black;
    justify-content: flex-end;
    list-style: none;
}

.containerInput li{
   
    width: 370px;
    list-style: none;
}

.containerInput ul li a {
    color: black;
}

.containerInput ul li a:hover {
    color: grey;
}