<mat-toolbar class="toolbar">
  <mat-toolbar-row class="header">
    <span><a><img src="../../assets/logo.png" alt=""></a></span>
    <span><a href=""><img src="../../assets/carrinho.png" alt=""></a></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="header2">
    <div class="container">
      <div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/restaurante">Restaurantes</a></li>
          <li><a routerLink="/diversao">Diversão</a></li>

        </ul>
      </div>

      <div class="containerInput">
        <input class="input"  #termoDaPesquisa type="text" placeholder="Pesquisar ofertas" (keyup)="pesquisa(termoDaPesquisa.value)">
        <ul>
          <li *ngFor="let lista of ofertas | async">
            <a [routerLink]="['/oferta', lista.id]" (click)="limpaPesquisa()"> {{lista.titulo}} </a>
          </li>
        </ul>
      </div>
         
    </div>
  </mat-toolbar-row>
</mat-toolbar>