img {
    border-radius: 5px;
    width: 320px;
    height: 200px
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    height: 110vh;
}

.secao{
    display:flex;
    flex-direction: column;
    margin-top: 180px;
    text-align: center;
}

.secao h3{
    font-size: 2em;
    
}

.secao h5{
    font-size:1.5em;
    
}

.anuncio{
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    transition: 300ms;
}


.anuncio:hover{
    background-color: #cfdff1;
}

.anuncioRes{
    padding-left: 20px;

}

.anuncioRes h4{
    font-size: 2em ;
    
}

.anuncioRes h5{
    font-size: 1.5em ;
    
}


button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 8px ;
    color: #006ACB;
    border: solid 2px #006ACB;    
    margin-top: 30px;
}

button:hover{
    cursor: pointer;
}

.preco{
    color: coral;
    font-size: 20px;
    font-weight: 400;

}